/*Requirements
4 css variables */

:root {
}

.font {
  font-family: Helvetica;
  text-align: center;
}

.img {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  height: 50%;
}

h2 {
}

h5 {
}

q {
  font-style: italic;
  font-size: 0.75em;
}

h3 {
  text-decoration: underline;
}

/*.buttons {
  background-color: cornflowerblue;
  color: black;
  padding: 0.75em 1em;
}*/

.link {
  padding: 1rem;
  border: 1px inset black;
  border-radius: 8px;
  background: steelblue;
}

.btn-link:hover {
  background: tomato;
}

details {
}

summary {
}

details[open] {
}

details[open] summary {
}

footer {
  padding: 1em;
  text-align: center;
}
