/*Requirements
4 css variables */

/*Apparently don't know even basic CSS. Then what?*/

/*:root {
}*/

.font {
  font-family: Helvetica;
  text-align: center;
}

.img {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  height: 50%;
}

q {
  font-style: italic;
  font-size: 0.75em;
}

h3 {
  text-decoration: underline;
}

/* I don't get how what I had before and what I have now are so different?*/
.btn {
  display: inline-block;
  padding: 1rem;
  border: 1px inset black;
  border-radius: 8px;
  background: steelblue;
}

.btn:hover {
  background: tomato;
}

/*details {
}

summary {
}

details[open] {
}

details[open] summary {
}*/

footer {
  padding: 1em;
  text-align: center;
}
